@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  max-width: 880px;
  padding: 78px 24px calc(136px - 25px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #fdffb4;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #eb5252;
  border-radius: 50%;
}

.items {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 256px;
  max-width: 256px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 25px;
  box-shadow: 0px 2px 2px rgba(71, 138, 239, 0.25);
  border: 1px solid #8790e4;
}

.item p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.item:nth-child(3n + 1) {
  background-color: rgba(41, 168, 240, 0.1);
}

.item:nth-child(3n + 2) {
  background-color: #29a8f0;
}

.item:nth-child(3n) {
  background-color: #5df029;
}
